DATABASE_URL=postgresql://postgres:JeetInovexia@db.fjjcvonewnjahjaiosmz.supabase.co:5432/postgres

SUPABASE_URL=https://fjjcvonewnjahjaiosmz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqamN2b25ld25qYWhqYWlvc216Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4Nzk1NjYsImV4cCI6MjEwMjQ1NTU2Nn0.RFN5616oWX-eR6U7HwORdR3VDQicEZwxeIWL4sQlVZk

GEMINI_API_KEY=
GROQ_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=https://fjjcvonewnjahjaiosmz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqamN2b25ld25qYWhqYWlvc216Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4Nzk1NjYsImV4cCI6MjEwMjQ1NTU2Nn0.RFN5616oWX-eR6U7HwORdR3VDQicEZwxeIWL4sQlVZk
NEXT_PUBLIC_API_URL=http://localhost:8000